## Lab 6
### Arsalan Shoaib Patel - 8865064

In [62]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

1. Using SciKit-Learn, train a binary logistic regression model on the Iris dataset. Use all four features and define only 2 labels: virginica and non-virginica. See the logistic regression notebook presented in class for a demonstration on how to set up these labels (3 points).

In [63]:
iris = datasets.load_iris(as_frame=True)
x = iris.data
display(iris.target_names)
binary_y = (iris.target == 2).astype(int)  #virginica is the second column
display(x,binary_y.dtype)

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

dtype('int32')

Training the dataset

In [64]:
X_train, X_test, y_train, y_test = train_test_split(x, binary_y, test_size=0.2, random_state=27)

Training the model

In [65]:
model = LogisticRegression() 

model.fit(X_train, y_train) #training

y_pred = model.predict(X_test) #Predicting

2. Evaluate the model:
    * Failure modes: in which data instances is the model wrong? (1 point)
    * Are there any shared properties for these cases? (1 point)
    * How is the model doing across a set of evaluation metrics: accuracy and confusion metric. (1 point)

In [66]:
#comparing teh values of prediction and testing model and taking the where it doesnt match
not_matching = np.where(y_pred != y_test) 
display(not_matching)
not_matching = not_matching[0] #taking the first element of the list which is the list of wrong
print("Indices of the model where the values dont match:",not_matching)

(array([ 8, 25], dtype=int64),)

Indices of the model where the values dont match: [ 8 25]

In [67]:
misclassified = X_test.iloc[not_matching]
misclassified.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,2.000000,2.000000,2.000000,2.0
mean,5.800000,2.750000,4.750000,1.7
std,1.272792,0.353553,0.353553,0.0
min,4.900000,2.500000,4.500000,1.7
25%,5.350000,2.625000,4.625000,1.7
50%,5.800000,2.750000,4.750000,1.7
75%,6.250000,2.875000,4.875000,1.7
max,6.700000,3.000000,5.000000,1.7

In [68]:
print("Accuracy:", accuracy_score(y_test, y_pred))

conf_Matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:\n", conf_Matrix)

Accuracy: 0.9333333333333333
Confusion Matrix:
 [[17  1]
 [ 1 11]]

* The logistic regression model exhibits high accuracy on the test data.
*  looking at the cofusion matrix:
    * 17 samples were correctly predicted as non-virginica, 1 non-virginica sample was incorrectly predicted as virginica
    * 1 virginica sample was incorrectly predicted as non-virginica, 11 samples were correctly predicted as virginica
    * There's a balance in the mistakes the model is making - it has 1 false positive and 1 false negative.